activity_info$ods_activity_info$wait
activity_order$ods_activity_order$wait
activity_rule$ods_activity_rule$wait
base_category1$ods_base_category1$wait
base_category2$ods_base_category2$wait
base_category3$ods_base_category3$wait
base_dic$ods_base_dic$wait
base_trademark$ods_base_trademark$wait
cart_info$ods_cart_info$wait
comment_info$ods_comment_info$wait
coupon_info$ods_coupon_info$wait
coupon_use$ods_coupon_use$wait
favor_info$ods_favor_info$wait
order_detail$ods_order_detail$wait
order_info$ods_order_info$wait
order_refund_info$ods_order_refund_info$wait
order_status_log$ods_order_status_log$wait
payment_info$ods_payment_info$wait
sku_info$ods_sku_info$wait
spu_info$ods_spu_info$wait
user_info$ods_user_info$wait