activity_info$wait
activity_order$wait
activity_rule$wait
base_category1$wait
base_category2$wait
base_category3$wait
base_dic$wait
base_province$wait
base_region$wait
base_trademark$wait
cart_info$wait
comment_info$wait
coupon_info$wait
coupon_use$wait
favor_info$wait
order_detail$wait
order_info$wait
order_refund_info$wait
order_status_log$wait
payment_info$wait
sku_info$wait
spu_info$wait
user_info$wait